{% extends "base.html" %}
{% block title %}test{% endblock %}

{% block content %}
{{ include('components/navbar.html', sandboxed = true) }}
<div class="px-4 py-5 my-5">
    <div class="container">
        <h2 class="display-4 fw-bold text-center">ship, manage, track, deliver</h2>
        <p class="fs-4 text-center">All in one place. You'll be able to ship, manage, and track your packages with our user-friendly 
                                    platform all from the comfort of your home. Our online post office portal strives to process your important
                                    packages all while making your mail experience hassle-free!
        </p>
    </div>
</div>
{% endblock %}