{% extends "base.html" %}
{% block title %}test{% endblock %}

{% block content %}
{{ include('components/navbar.html', sandboxed = true) }}
<div class="px-4 py-5 my-5">
    <div class="container">
        <h2 class="display-4 fw-bold text-center">Ship, Manage, Track, Deliver</h2>
        <p class="fs-4 text-center">All in one place. You'll be able to find shipping quotes and track your packages with our user-friendly 
                                    platform all from the comfort of your home. Our online post office portal strives to process your important
                                    packages all while making your mailing experience hassle-free!
        </p>
    </div>
    <div class="fs-4 text-center text-primary fw-bold mt-5">
        3 Easy Steps To Printing Your Shipping Label
    </div>
    <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <div class="card shadow h-100">
              <h1 class="text-center fw-bold mt-4">1</h1>
              <div class="card-body">
                <h5 class="card-title text-center fw-bold text-primary">Sign Up and Login</h5>
                <p class="card-text">There is no fee to use iParcel. Just register an account with us to start the shipping process.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card shadow h-100">
                <h1 class="text-center fw-bold mt-4">2</h1>
              <div class="card-body">
                <h5 class="card-title text-center fw-bold text-primary">Enter Shipping Information</h5>
                <p class="card-text">Enter your package information for our best possible quote and select some our wide range of shipping options.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card shadow h-100">
                <h1 class="text-center fw-bold mt-4">3</h1>
              <div class="card-body">
                <h5 class="card-title text-center fw-bold text-primary">Print and Ship</h5>
                <p class="card-text">Use a label printer or a home printer to print your label to attach to the box. Drop off your package and you're done.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <a href="/register">
                <button class="btn btn-primary">Register Now!</button>
            </a>
        </div>
    </div>
      

</div>
{% endblock %}