{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<body background="img/loginfront.png" style="background-repeat: no-repeat; background-size: cover; background-position-y: 0px;"></body>
<div class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="py-4 text-center">
                    <a href="/"><img src="img/logo.svg" alt="iParcel" width="200"></a>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            {{ error }}
                        </div>
                        {% endfor %}
                        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="mb-3">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>                                                   
                            </div>
                            <button type="submit" class="mb-3 w-100 btn btn-lg btn-primary">Log in</button>
                            <div class="mb-3">
                                <a href="/reset-password">Reset my password</a>
                                <a href="/register">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="py-4 text-center">
                    © iParcel 2023
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}