{% extends "base.html" %}
{% block title %}Reset my password{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="py-4 text-center">
                    <img src="img/logo.svg" alt="iParcel" width="200">
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <i class="bi bi-check-circle-fill"></i>
                            An email with a link to reset your password has been sent to the email you provided. It will expire in 30 minutes.
                        </div>
                        <form action="/password-reset" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="mb-3">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <button type="submit" class="mb-3 w-100 btn btn-lg btn-primary">Send password reset link</button>
                            <div class="mb-3">
                                <a href="/login">Login</a>
                                <a href="/register">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="py-4 text-center">
                    © iParcel 2023
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}