{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="py-4 text-center">
                    <a href="/"><img src="img/logo.svg" alt="iParcel" width="200"></a>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            {{ error }}
                        </div>
                        {% endfor %}
                        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="first_name">First name</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="col">
                                    <label for="last_name">Last name</label>
                                    <input type="text" class="form-control" name="last_name">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div> 
                            <div class="mb-3">
                                <label for="repeat_password">Repeat password</label>
                                <input type="password" class="form-control" name="repeat_password">
                            </div>  
                            <div class="mb-3">
                                <label for="phone">Phone number</label>
                                <input type="text" class="form-control" name="phone">
                            </div>
                            <button type="submit" class="mb-3 w-100 btn btn-lg btn-primary">Register</button>
                            <div class="mb-3">
                                <a href="/login">Login</a>
                            </div>        
                        </form>
                    </div>
                </div>
                <div class="py-4 text-center">
                    © iParcel 2023
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}