{% extends "base.html" %}
{% block title %}Shipping{% endblock %}

{% block content %}
{{ include('components/navbar.html', sandboxed = true) }}
<div class="container text-center mt-4 fw-bold text-primary">
    <h1>Post Office Shipping</h1>
</div>
<form>
    <div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="form-group">
                <fieldset>
                    <legend>Sender Information</legend>
                    <div>
                        <label for="sender-name">Name</label>
                        <input class="form-control mb-3" type="text" id="sender-name" name="sender-name">
                        <label for="sender-address">Address</label>
                        <input class="form-control mb-3" type="text" id="sender-address" name="sender-address">
                        <label for="sender-city">City</label>
                        <input class="form-control mb-3" type="text" id="sender-city" name="sender-city">
                        <label for="sender-state">State</label>
                        <input class="form-control mb-3" type="text" id="sender-state" name="sender-state">
                        <label for="sender-zip">Zip Code</label>
                        <input class="form-control mb-3" type="text" id="sender-zip" name="sender-zip">
                    </div>
                </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="form-group">
                <fieldset>
                    <legend>Recipient Information</legend>
                    <div>
                        <label for="recipient-name">Name</label>
                        <input class="form-control mb-3" type="text" id="recipient-name" name="recipient-name">
                        <label for="recipient-address">Address</label>
                        <input class="form-control mb-3" type="text" id="recipient-address" name="recipient-address">
                        <label for="recipient-city">City</label>
                        <input class="form-control mb-3" type="text" id="recipient-city" name="recipient-city">
                        <label for="recipient-state">State</label>
                        <input class="form-control mb-3" type="text" id="recipient-state" name="recipient-state">
                        <label for="recipient-zip">Zip Code</label>
                        <input class="form-control mb-3" type="text" id="recipient-zip" name="recipient-zip">
                    </div>
                </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container py-3">
        <div class="col-md-12">
            <div class="card shadow">
            <div class="card-body">
                <legend>Shipment Details</legend>
                <div class="container">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label for="package-type">Package Type</label>
                            <select class="form-control mb-3" id="package-type" name="package-type">
                                <option value="envelope">Envelope</option>
                                <option value="box">Box</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label for="package-weight">Package Weight</label>
                            <input class="form-control mb-3" type="number" id="package-weight" name="package-weight">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label for="package-weight">Package Height</label>
                            <input class="form-control mb-3" type="number" id="package-height" name="package-height">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label for="package-weight">Package Width</label>
                            <input class="form-control mb-3" type="number" id="package-width" name="package-width">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
            </div>
        </div>
    </div>
  </form>
{% endblock %}