{% extends "base.html" %}
{% block title %}tracking{% endblock %}

{% block content %}
{{ include('components/navbar.html', sandboxed = true) }}
<body background="img/Houston-Road-Map.png" style="background-repeat: no-repeat; background-size: cover; background-position-y: -550px;">
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-stepper shadow" style="border-radius: 10px;">
            <div class="card-body p-4">
  
                <div class="d-flex justify-content-center align-items-center">
                    <form action="/tracking" method="POST">
                        <label for="tracknum">Enter Tracking Number : </label>
                        <input type="text" id="tracknum" name="tracknum" required>
                        <button class="btn bg-primary text-white" type="submit">Track order details</button>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}